*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

/* Header */
.header{
    margin: 0px;
}

.container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    color: #0b3c6d;
}

.logo img{
    height: 20px;
}

@media (max-width: 768px){
    .contact{
        flex-direction: column;
    }
}

.contact {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b3c6d;
    height: 50px;
}

.navbar a {
    color: white;
    margin: 20px;
    text-decoration: none;
}

@media (max-width: 768px){
    .navbar a{
        font-size: 15px;
    }
}

/* Hero */

.hero{
    background: #f5f9ff;
    padding: 20px 0;
    text-align: center;
}

.hero p{
    margin-bottom: 20px;
}

.hero p img{
    height: 10px;
}

.hero h1{
    font-size: 36px;
    margin-bottom: 20px;
    color: #0b3c6d;
}

.hero-sec{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.hero-form{
    width: 900px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0,1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.hero-form input, 
.hero-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.phone-row {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.phone-row span{
    padding: 12px;
    background: #f2f2f2;
    font-size: 12px;
}

.phone-row span img{
    height: 15px;
}

.phone-row input{
    border: none;
    outline: none;
    padding: 12px;
    flex: 1;
}

.hero-form textarea{
    grid-column: span 2;
    resize: none;
}

.hero-form button{
    background: #1e6eff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.hero-form button:hover{
    background: #1558d6;;
}

/* responsive*/

@media(max-width: 768px) {
    .hero-form {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .hero-form textarea {
        grid-column: span 1;
    }
}

.service-section{
    padding: 20px;
}

.service-section .stats{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #555;
}

.search-box input{
    width: 60%;
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}
.tags{
    display: flex;
    justify-content: center;
}
.tags span{
    margin: 20px;
    background: #e9ecf2;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 14px;  
}

@media(max-width: 768px) {
    .tags{
        flex-direction: column;
    }
    
}

/* Services */

.services{
    padding: 60px 0;
    text-align: center;
}

.cont h2{
    font-size: 34px;
    margin-bottom: 30px;
    color: #0b3c6d;  
}

.cont h2 span{
    color: rgb(199, 199, 51);   
}

.tabs{
    margin-bottom: 40px;
}

.tabs button{
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    margin: 5px;
    background: #e9eef7;
    cursor: pointer;
    font-weight: 600;
}

.tabs .active {
    background: #2f73da;
    color: #fff;
}

/* cards */

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.card{
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: left;
}

.card h3{
    font-size: 20px;
    color: #0b2c5d;
}

.price{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.price span{
    font-size: 14px;
    color: #777;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #2f73da;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
}

.btn:hover{
    background: #245bb5;;
}

.card h4{
    margin: 15px 0 10px;
    color: #2f73da;;
}

.card ul {
    list-style: none;
}

.card ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

li i{
    color: green;
    margin-right: 10px;
}

/* Trusted Partners */

.partners {
  background: #fff;
  padding: 40px 20px;
  text-align: center;
}

.partners h2 {
  color: #0b2c5d;
  font-size: 32px;
  margin-bottom: 25px;
}

.partners span {
  color: #f5b400;
}

.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.partner-logos img {
  height: 40px;
}

/* reviews */

.reviews {
  padding: 60px 20px;
  text-align: center;
  background: #f5f9ff;
}

.reviews h3 {
  font-size: 34px;
  color: #0b2c5d;
}

.reviews span {
  color: #f5b400;
}

.subtitle {
  max-width: 700px;
  margin: 15px auto 40px;
  color: #555;
}

/* Review Cards */
.review-cards {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.review-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: left;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user img {
  width: 55px;
  height: 55px;
  border-radius: 60%;
}

.user h4 {
  font-size: 18px;
}

.user small {
  color: #777;
}

.review-text {
  margin: 20px 0;
  color: #555;
  line-height: 1.6;
}

.stars {
  color: #f5b400;
  font-size: 18px;
}

.stars span {
  color: #000;
  font-size: 14px;
  margin-left: 8px;
}

/* Responsive */
@media (max-width: 600px) {
  .partners h2,
  .reviews h2 {
    font-size: 26px;
  }
}

/* Featured Section */
.featured {
  background: #fff;
  padding: 60px 20px;
  text-align: center;
}

.featured h2 {
  font-size: 34px;
  margin-bottom: 40px;
  color: #0b2c5d;
}

.featured h2 span {
  color: #f5b400;
}

/* Logos Grid */
.featured-logos {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.logo-card {
  background: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-card img{
    object-fit: contain;
    max-width: 100%;
    height: 100px;
}


/* Responsive */
@media (max-width: 600px) {
  .featured h2 {
    font-size: 26px;
  }

  .logo-card img {
    height: 40px;
  }
}





